@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fonts */
@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter-Regular.woff") format(".woff");
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter-Medium.woff") format(".woff");
  font-weight: 500;
  font-stretch: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter-SemiBold.woff") format(".woff");
  font-weight: 600;
  font-stretch: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter-SemiBoldItalic.woff") format(".woff");
  font-weight: 600;
  font-stretch: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter-Bold.woff") format(".woff");
  font-weight: 700;
  font-stretch: normal;
  font-display: swap;
}
/* --------------- */

body {
  background-color: #f3f3f3;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

input {
  outline: none;
}

.title {
  @apply font-medium text-[30px] leading-[1.2] tracking-[-0.02em] text-darkColor mb-3 md:mb-5 sm-max:text-[25px] lg:text-[40px];
}

.description {
  @apply pb-[2px] text-[14px] md:text-[16px] text-textColor leading-[1.25] active:text-hoverColor focus:text-hoverColor lg:hover:text-hoverColor transition duration-300;
}

.active {
  @apply text-accentColor;
}

.primary-btn-hover {
  @apply active:bg-hoverColor focus:bg-hoverColor lg:hover:bg-hoverColor transition duration-300;
}

.item {
  @apply self-start bg-lightColor rounded-[20px] md:rounded-[24px] px-[16px] py-[8px] md:px-[8px] md:py-[5px] lg:px-[16px] lg:py-[8px] shadow-md;
}

.link-back {
  @apply font-medium text-[16px] leading-[1.1] text-textColor link pb-[3px];
}

.label {
  @apply flex items-center text-[12px] sm-max:text-[10px] md:text-[16px] text-textColor leading-[1.25];
}

.custom-radio {
  @apply relative inline-block h-[14px] w-[14px] md:w-4 md:h-4 bg-transparent border-2 border-hoverColor rounded-full align-top mr-1;
}

.custom-radio::before {
  @apply absolute top-1/2 left-1/2 transform translate-x-[-50%] translate-y-[-50%] scale-0 content-[''] h-[6px] w-[6px] md:w-2 md:h-2 bg-accentColor rounded-full transition-transform duration-200 ease-in;
}

.real-radio {
  @apply w-0 h-0 absolute opacity-0 z-[-1];
}

.real-radio:checked + .custom-radio::before {
  @apply scale-100;
}
