@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fonts */
@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter-Regular.woff") format(".woff");
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter-Medium.woff") format(".woff");
  font-weight: 500;
  font-stretch: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter-SemiBold.woff") format(".woff");
  font-weight: 600;
  font-stretch: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter-SemiBoldItalic.woff") format(".woff");
  font-weight: 600;
  font-stretch: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter-Bold.woff") format(".woff");
  font-weight: 700;
  font-stretch: normal;
  font-display: swap;
}
/* --------------- */

body {
  background: linear-gradient(to right, #fbfbfb, #eff7f4);
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

.description {
  @apply text-[14px] md:text-[16px] text-textColor leading-[1.25] mb-5 lg:mb-10 active:text-hoverColor focus:text-hoverColor lg:hover:text-hoverColor transition duration-300;
}

.active {
  @apply text-accentColor;
}

.primary-btn-hover {
  @apply active:bg-hoverColor focus:bg-hoverColor lg:hover:bg-hoverColor transition duration-300;
}

.item {
  @apply inline-block bg-lightColor rounded-[20px] md:rounded-[24px] px-[16px] py-[8px] md:px-[10px] md:py-[5px] lg:px-[16px] lg:py-[8px] shadow-md;
}
